@model IEnumerable<MyAssignment2.Models.ProductModal>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<p>
    <div class="row pull-right">
        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Create", "Product")'" style="margin-right: 15px;margin-bottom: 10px;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"> </i> New</button>
    </div>

</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ProductQty)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Price)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ConatctName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ConatctEmail)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ContactTelephone)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConatctName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConatctEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTelephone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-warning btn-xs" })  |
                <a href="javascript:void(0);" class="deleteItem btn btn-danger btn-xs" data-id="@item.ProductID">Delete</a>
   

        </tr>
    }
</table>

@section Scripts {
    <script type="text/javascript">
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this item?')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('tr').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("There is something wrong. Please try again.");
                })

            }
        });
    </script>
}
